* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.container {

    width: 1200px ;
    margin: 0 auto;

}


.header-wrap {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}
/*[class^="box-"] {*/

/*background-color: #7ed2f5;*/
/*display: grid;*/
/*place-items: center;*/
/*}*/

/*.grid-container {*/
/*    display: grid;*/
/*    border: 15px solid #3e3e3e;*/
/*   grid-gap: 8px;*/
/*    grid-template-columns:80px 30px 80px 60px 90px 90px;*/
/*    grid-template-rows: 60px repeat(2, 138px) repeat(2, 60px) repeat(3, 65px);*/
/*    background-color:#3e3e3e ;*/
    /*justify-content: center;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    /*align-content:start;*/
/*}*/

/*!*    grid-template-areas:*!*/
/*!*"A A A A   A A A A  A A C C"*!*/
/*!*"B B B B   B B B B  B B C C"*!*/
/*!*"B B B B   B B B B  B B C C"*!*/
/*!*;*!*/

/*}*/

/*!*.box-1 {*!*/

/*!*    grid-area: A;*!*/
/*!*}*!*/
/*!*.box-2 {*!*/
/*!*    grid-area: B;*!*/
/*!*}*!*/
/*!*.box-3 {*!*/
/*!*    grid-area: C;*!*/

/*!*}*!*/

/*.box-1 {*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 5;*/
/*    grid-row-start: 1;*/
/*    grid-row-end: 4;*/
/*}*/


/*.box-2 {*/
/*    !*grid-column-start: 5;*!*/
/*    !*grid-column-end: 8;*!*/
/*    grid-row-start: 2;*/
/*    grid-row-end: 6;*/

/*  */
/*}*/

/*.grid-item {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*}*/

/*.grid-item-1,*/
/*.grid-item-2,*/
/*.grid-item-4,*/
/*.grid-item-5,*/
/*.grid-item-8,*/
/*.grid-item-9,*/
/*.grid-item-10,*/
/*.grid-item-12,*/
/*.grid-item-13,*/
/*.grid-item-15,*/
/*.grid-item-16,*/
/*.grid-item-17,*/
/*.grid-item-21,*/
/*.grid-item-22 {*/
/*    background-color: #ffff;*/
/*}*/

/*.grid-item-3,*/
/*.grid-item-11,*/
/*.grid-item-18,*/
/*.grid-item-23 {*/

/*    background-color: black;*/
/*}*/

/*.grid-item-6,*/
/*.grid-item-20{*/

/*    background-color: #0d7fbe;*/
/*}*/

/*.grid-item-7,*/
/*.grid-item-19,*/
/*.grid-item-24,*/
/*.grid-item-14 {*/

/*    background-color: #fee317;*/
/*}*/

/*.grid-item-16 {*/
/*    background-color: red;*/
/*}*/

/*.grid-item-1,*/
/*.grid-item-7,*/
/*.grid-item-12,*/
/*.grid-item-13,*/
/*.grid-item-15,*/
/*.grid-item-16,*/
/*.grid-item-18,*/
/*.grid-item-19,*/
/*.grid-item-22 {*/

/*    grid-column: span 2;*/
/*}*/

/*.grid-item-2 {*/
/*    grid-column: span 3;*/
/*}*/

/*.grid-item-8 {*/
/*    grid-row: span 2 ;*/
/*}*/

/*.grid-item-14 {*/

/*    grid-row: span 3;*/
/*}*/

/*.grid-item-6 {*/
/*    grid-column: span 4;*/
/*    grid-row: span 2;*/
/*}*/

/*.grid-item-11,*/
/*.grid-item-16,*/
/*.grid-item-17,*/
/*.grid-item-20 {*/

/*    grid-column: span 2;*/
/*    grid-row: span 2;*/
/*}*/







